@font-face {
   font-family: Licorice;
    src: url("./assets/Licorice.ttf");
  }
  * {
   box-sizing: border-box;
 }
 body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .container {
   max-width: 1440px;
   margin: 0 auto;
 }
 .nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }
 html {
   scroll-behavior: smooth; 
 }
 .nav-list {
   list-style: none;
 }
 .nav-link {
   padding: 0 20px;
   line-height: 50px;
 }
 .nav-link {
   transition: .3s;
 }
 .section-item a {
   color: #829985;
   text-decoration: none;  
   transition: color 0.5s;
 }
 .section-item a:hover {
   color: #f31010;
 }
 .main-container {
   display: flex;
   flex-wrap: wrap;
 }
 .section {
   width: 50%;
 }
 @media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
 body {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   color: #191a18;
 }
 .section-title {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 5px;
   color: #18ceee;
 }
 .link {
   text-decoration: none;
   color: #f52112;
   transition: color 0.5s;
 }
 .link:hover {
   color: #0df330;
 }
 .box {
   background-color: #567895;
 }
 header {
   background-color: rgb(40, 241, 13);
   color: white;
 }
 span {
   background-color: rgba(255,255,255,.5);
 }
 .footer {
	padding: 20px 0;
	background-color: rgb(40, 241, 13);
	align-items: center;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__logo {
	width: 100px;
	height: 50px;
}
.footer__link {
	background-image: url(assets/github.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 50px;
height: 50px;
	object-fit: cover;
	border: none;
	padding-bottom: 0;
}
.footer__link-2{
  padding-bottom: 0;
  bottom: none;
  border-bottom: none;
}
.rss {
  width: 400px;
  height: 250px;
  background-image: url("assets/avatar.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

